<section aria-labelledby="login-title" class="container auth">
    <h1 id="login-title">Entrar</h1>
    <form (ngSubmit)="submit()" [formGroup]="form" class="form">
        <sc-input [error]="form.controls.email.touched && form.controls.email.invalid ? 'Email inválido' : ''" formControlName="email" label="Email"
                  placeholder="voce@exemplo.com"></sc-input>
        <sc-input [error]="form.controls.password.touched && form.controls.password.invalid ? 'Mínimo 6 caracteres' : ''" formControlName="password" label="Senha"
                  type="password"></sc-input>
        <div class="actions">
            <sc-button [loading]="loading" variant="filled">Entrar</sc-button>
            <a class="muted" routerLink="/auth/forgot">Esqueci a senha</a>
        </div>
    </form>
    <p class="muted">Não tem conta? <a routerLink="/auth/register">Cadastre-se</a></p>
</section>

